<template>
  <section class="area same-card py-60">
    <div class="container w-460">
      <div class="title-section ">
        <h2 class="text-uppercase jp">エリア</h2>
        <hr class="border-bottom my-30" style="border-color: #444;" />
      </div>
      <div class="row center-item">
        <div class="col-xs-12 col-sm-6 col-md-3 con-area wow fadeInUp" v-for="areaHome,index in data" :key="areaHome.id" data-wow-delay=".5s">
          <a :href="$store.state.link + 'area'" class="content same-height img-rounded mb-15">
            <div class="img-wrapper">
              <img :src="( areaHome.image || 'https://via.placeholder.com/1920x683' )" class="img-responsive" :alt="areaHome.name" />
            </div>
            <div class="text ">
              <h3 class="name pb-10">{{ areaHome.name }}</h3>
              <p class="description">{{ areaHome.short_description }}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="button-wrapper mt-30">
        <button class="btn btn-custom btn-black py-10 px-35" id="loadMore">More</button>
      </div>
    </div>
  </section>
</template>

<script>
  if(process.browser) {
    var {WOW} = require('wowjs')
  }
  export default {
    props:['data'],
    data(){
      return {
        showLimit: 4,
      }
    },
    mounted(){
      if(process.browser) {
        new WOW({
          live: true,
          offset: 0
        }).init();
      }
      $('.con-area').slice(0, 4).show();
      $('#loadMore').click(function(e){
        e.preventDefault();
        $('.con-area:hidden').slice(0, 4).show();

        if($('.con-area:hidden').length == 0) {
          $('#loadMore').addClass('kosong');
        }
      })
    }
  }
</script>

<style scoped>
  .con-area {
    display: none;
  }
  .kosong {
    display: none;
  }
</style>