<template>
  <section class="banner" style="background-image: url('/img/icon/Bg-area.jpg')">
    <div class="d-table">
      <div class="text-fixed text-center d-table-cell">
        <h1 class="text-uppercase wow fadeInUp" data-wow-delay=".5s">{{ title }}</h1>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: ['title']
  }
</script>