<template>
	<section class="category same-card py-60" style="background-image: url('/img/icon/Bg-grey.jpg')">
    <div class="container w-460">
      <div class="title-section text-center">
        <h2 class="text-uppercase">ホテルタイプ</h2>
        <hr class="border-bottom my-30" />
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3" v-for="category in data" :key="category.id">
          <a :href="$store.state.link + 'category'" class="content same-height img-rounded mb-30">
            <div class="img-wrapper">
              <img :src="category.image" class="img-responsive" :alt="category.category" />
            </div>
            <div class="text p-15 text-center">
              <h3 class="name pb-10">{{ category.category }}</h3>
              <p class="description">{{ category.description }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default{
    props:['data'],
    data(){
      return {

      }
    }
  }
</script>