<template>
	<section class="choose-us py-60">
    <div class="container w-460">
      <div class="title-section text-center">
        <h2 class="text-uppercase">サービス・特典</h2>
        <hr class="border-bottom my-45" />
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="content text-center wow fadeInUp" data-wow-delay=".2s">
            <div class="img-wrapper" style="background-image: url('/img/icon/airport.png')">
            </div>
            <div class="text">
              <h3 class="py-15 jp">空港トランスポート</h3>
              <p class="jp">空港からホテルへの片道送迎を無料でご利用頂けます。国際線、国内線を含むバリ島到着全便対応で安心。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="content text-center wow fadeInUp" data-wow-delay=".4s">
            <div class="img-wrapper" style="background-image: url('/img/icon/apartment.png')">
            </div>
            <div class="text">
              <h3 class="py-15 jp">空港送迎</h3>
              <p class="jp">空港からホテルへの片道送迎を無料でご利用いただけます。バリ島到着全便対応。国際線、国内線どちらもお迎えに上がります。</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="content text-center wow fadeInUp" data-wow-delay=".6s">
            <div class="img-wrapper" style="background-image: url('/img/choose_us/benefit-1.jpg')" />
            <div class="text">
              <h3 class="py-15 jp">グループ＆ファミリー旅行</h3>
              <p class="jp">オンライイン予約では難しい学生旅行、社員旅行などのグループ団体、そしてご家族旅行など 長年にわたり築いてきた経験と豊富な知識を</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  if(process.browser) {
    var {WOW} = require('wowjs')
  }

  export default {
    mounted(){
      if(process.browser) {
        new WOW({
          live: true,
          offset: 0
        }).init();
      }
    }
  }
</script>
