<template>
	<section class="detail-room py-60">
    <div class="container">
      <div class="col-xs-12 col-sm-4">
        <div class="img-wrapper same-height">
          <img src="/img/icon/Bg-area.jpg" alt="Detail Image" class="img-responsive" width="100%" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="content">
          <div class="panel-group same-height" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-custom">
              <div class="panel-heading" role="tab" id="headingOne">
                <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Suite Room 1</a></h2>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td width="50%">Time for Check In</td>
                        <td width="5%">:</td>
                        <td width="45%">06:00 - 00:00</td>
                      </tr>
                      <tr>
                        <td>Check In Date</td>
                        <td>:</td>
                        <td>10 Jan 2019</td>
                      </tr>
                      <tr>
                        <td>Night</td>
                        <td>:</td>
                        <td class="night">{{ nightShown(10) }}</td>
                      </tr>
                      <tr>
                        <td>Facilities</td>
                        <td>:</td>
                        <td><a href="" class="see-more" data-toggle="modal" data-target="#room1">See More</a></td>
                      </tr>
                      <tr>
                        <td>Include</td>
                        <td>:</td>
                        <td><a href="" class="see-more">See More</a></td>
                      </tr>
                      <tr>
                        <td>Benefit</td>
                        <td>:</td>
                        <td><a href="" class="see-more">See More</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-custom">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">Suite Room 2</a></h2>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td width="50%">Time for Check In</td>
                        <td width="5%">:</td>
                        <td width="45%">06:00 - 00:00</td>
                      </tr>
                      <tr>
                        <td>Check In Date</td>
                        <td>:</td>
                        <td>10 Jan 2019</td>
                      </tr>
                      <tr>
                        <td>Night</td>
                        <td>:</td>
                        <td class="night">{{ nightShown(10) }}</td>
                      </tr>
                      <tr>
                        <td>Facilities</td>
                        <td>:</td>
                        <td><a href="" class="see-more">See More</a></td>
                      </tr>
                      <tr>
                        <td>Include</td>
                        <td>:</td>
                        <td><a href="" class="see-more">See More</a></td>
                      </tr>
                      <tr>
                        <td>Benefit</td>
                        <td>:</td>
                        <td><a href="" class="see-more">See More</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="px-20">
            <table class="price-table" width="100%">
              <tbody>
                <tr>
                  <th width="50%">Total Amount</th>
                  <th width="5%">:</th>
                  <th width="45%" class="price">US$ 10000</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal modal-center fade" id="room1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="d-table" style="height: 100%;width: 100%;" >
            <div class="d-table-cell container" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center text-uppercase" id="myModalLabel">Suite Room 1 Detail</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-push-6">
                      <div class="panel-group" id="accordion-detail">
                        <div class="panel panel-custom2 open">
                          <div class="panel-heading" role="tab" id="heading-detail1">
                            <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-detail" href="#collapse-detail1" aria-expanded="true" aria-controls="collapse-detail1">Room Info</a></h2>
                          </div>
                          <div id="collapse-detail1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-detail1">
                            <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-custom2">
                          <div class="panel-heading" role="tab" id="heading-detail2">
                            <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-detail" href="#collapse-detail2" aria-expanded="false" aria-controls="collapse-detail2">Basic Facilities</a></h2>
                          </div>
                          <div id="collapse-detail2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-detail2">
                            <div class="panel-body">
                              <ul>
                                <li>Pool</li>
                                <li>Breakfast</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-custom2">
                          <div class="panel-heading" role="tab" id="heading-detail3">
                            <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-detail" href="#collapse-detail3" aria-expanded="false" aria-controls="collapse-detail3">Additional Info</a></h2>
                          </div>
                          <div id="collapse-detail3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-detail3">
                            <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet lorems shdkfwe</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-custom2">
                          <div class="panel-heading" role="tab" id="heading-detail4">
                            <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-detail" href="#collapse-detail4" aria-expanded="false" aria-controls="collapse-detail4">Benefit</a></h2>
                          </div>
                          <div id="collapse-detail4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-detail4">
                            <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet lorems shdkfwe</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                      <div class="content">
                        <div class="img-wrapper mb-15" style="height: 250px">
                          <img src="/img/slider-home/hotel3.jpg" alt="Hotel 2" class="img-responsive" />
                        </div>
                        <div class="row row-custom-10">
                          <div class="col-xs-12 col-sm-6 col-md-3 col-10 mb-15">
                            <img src="/img/slider-home/hotel1.jpg" alt="Hotel 1" class="img-responsive" />
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 col-10 mb-15">
                            <img src="/img/slider-home/hotel1.jpg" alt="Hotel 1" class="img-responsive" />
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 col-10 mb-15">
                            <img src="/img/slider-home/hotel1.jpg" alt="Hotel 1" class="img-responsive" />
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 col-10 mb-15">
                            <img src="/img/slider-home/hotel1.jpg" alt="Hotel 1" class="img-responsive" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <p>Facilities</p>
                      <ul>
                        <li>Private Pool</li>
                        <li>Terrace</li>
                        <li>Balcony</li>
                        <li>Coffee/Tea Maker</li>
                      </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <p>Room Benefit</p>
                      <ul>
                        <li>Private Pool</li>
                        <li>Terrace</li>
                        <li>Balcony</li>
                        <li>Coffee/Tea Maker</li>
                      </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <p>Include</p>
                      <ul>
                        <li>Private Pool</li>
                        <li>Terrace</li>
                        <li>Balcony</li>
                        <li>Coffee/Tea Maker</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data(){
      return {
        time_check_in : new Date().toDateString(),
        hotel_detail:[]
      }
    },
    methods:{
      nightShown(nights = 1){
        if(nights > 1) return nights + ' ' + 'nights';
        else return nights + ' ' + 'night';
      }
    },
    mounted(){
      var slider_room = new Swiper('.swiper-container', {
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        speed: 1000,
        autoplay: {
          delay: 2000
        },
        loop:true
      });
    }
  }
</script>