<template>
  <form method="post" action="">
    <section class="form-booking py-60">
      <div class="container">
        <div class="title-section-2">
          <h2 class="text-uppercase mb-15">Guest Information</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <div class="detail-room content">
              <div class="panel-group" id="accordion1">
                <div class="panel panel-custom">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Suite Room 1</a></h2>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <table width="100%">
                        <tbody>
                          <tr>
                            <td width="50%">Time for Check In</td>
                            <td width="5%">:</td>
                            <td width="45%">06:00 - 00:00</td>
                          </tr>
                          <tr>
                            <td>Check In Date</td>
                            <td>:</td>
                            <td>10 Jan 2019</td>
                          </tr>
                          <tr>
                            <td>Night</td>
                            <td>:</td>
                            <td class="night"></td>
                          </tr>
                          <tr>
                            <td>Facilities</td>
                            <td>:</td>
                            <td><a href="" class="see-more" data-toggle="modal" data-target="#myModal">See More</a></td>
                          </tr>
                          <tr>
                            <td>Include</td>
                            <td>:</td>
                            <td><a href="" class="see-more">See More</a></td>
                          </tr>
                          <tr>
                            <td>Benefit</td>
                            <td>:</td>
                            <td><a href="" class="see-more">See More</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="panel panel-custom">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Suite Room 2</a></h2>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <table width="100%">
                        <tbody>
                          <tr>
                            <td width="50%">Time for Check In</td>
                            <td width="5%">:</td>
                            <td width="45%">06:00 - 00:00</td>
                          </tr>
                          <tr>
                            <td>Check In Date</td>
                            <td>:</td>
                            <td>10 Jan 2019</td>
                          </tr>
                          <tr>
                            <td>Night</td>
                            <td>:</td>
                            <td class="night"></td>
                          </tr>
                          <tr>
                            <td>Facilities</td>
                            <td>:</td>
                            <td><a href="" class="see-more">See More</a></td>
                          </tr>
                          <tr>
                            <td>Include</td>
                            <td>:</td>
                            <td><a href="" class="see-more">See More</a></td>
                          </tr>
                          <tr>
                            <td>Benefit</td>
                            <td>:</td>
                            <td><a href="" class="see-more">See More</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5">
            <div class="title-section-2 mb-30">
              <h2 class="text-uppercase">Request to Hotel</h2>
            </div>
            <div class="example">
              <ul>
                <li>Special Arrange</li>
                <li>Bed type : Double / Tween</li>
                <li>Honeymooner Benefit</li>
                <li>Connectiong Room</li>
                <li>Early check in / Late check out</li>
                <li>Baby cot</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</template>