<template>
  <main class="detail-property">
    <section class="detail py-60">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 gallery-full">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.67173463016!2d115.18064631478455!3d-8.72268799373372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x52cbe907a047b1d5!2sKura-kura+Bus!5e0!3m2!1sid!2sid!4v1562726779895!5m2!1sid!2sid" width="100%" height="430" frameborder="0" style="border:0"></iframe>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="content">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" :style="{ 'background-image' : 'url(' + require('~/static/img/slider-home/hotel5.jpg') + ')' }">
                      </div>
                      <div class="swiper-slide" :style="{ 'background-image' : 'url(' + require('~/static/img/slider-home/hotel1.jpg') + ')' }">
                      </div>
                      <div class="swiper-slide" :style="{ 'background-image' : 'url(' + require('~/static/img/slider-home/hotel3.jpg') + ')' }">
                      </div>
                      <div class="swiper-slide" :style="{ 'background-image' : 'url(' + require('~/static/img/slider-home/hotel2.jpg') + ')' }">
                      </div>
                    </div>
                    <div class="swiper-button-prev">
                      <span>&#8592;</span>
                    </div>
                    <div class="swiper-button-next">
                      <span>&#8594;</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="content pt-30 pb-45">
                  <div class="row row-custom-10 center-item vertical-align">
                    <div class="col-xs-12">
                      <lightbox :images="[{src: '/img/choose_us/benefit-1.jpg'}, {src: '/img/choose_us/benefit-2.jpg'}, {src: '/img/choose_us/benefit-3.jpg'}, {src: '/img/choose_us/benefit-2.jpg'}, {src: '/img/choose_us/benefit-2.jpg'}]" />
                    </div>
                    <!-- <div class="col-xs-4 col-sm-20 col-10">
                      <a href="/img/choose_us/benefit-1.jpg" class="gallery-wrap">
                        <img src="" alt="benefit-1" class="img-responsive" />
                      </a>
                    </div>
                    <div class="col-xs-4 col-sm-20 col-10">
                      <a href="/img/choose_us/benefit-2.jpg" class="gallery-wrap">
                        <img src="" alt="benefit-2" class="img-responsive" />
                      </a>
                    </div>
                    <div class="col-xs-4 col-sm-20 col-10">
                      <a href="/img/choose_us/benefit-3.jpg" class="gallery-wrap">
                        <img src="/img/choose_us/benefit-3.jpg" alt="benefit-3" class="img-responsive" />
                      </a>
                    </div>
                    <div class="col-xs-4 col-sm-20 col-10">
                      <a href="/img/choose_us/benefit-4.jpg" class="gallery-wrap">
                        <img src="/img/choose_us/benefit-4.jpg" alt="benefit-4" class="img-responsive" />
                      </a>
                    </div>
                    <div class="col-xs-4 col-sm-20 col-10">
                      <a href="/img/choose_us/benefit-1.jpg" class="gallery-wrap">
                        <img src="/img/choose_us/benefit-1.jpg" alt="benefit-1" class="img-responsive" />
                      </a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 text-detail">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="content">
                  <p class="title-content">Hotel Meister Comment</p>
                  <p class="mb-15">lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit maet lorem ipsum dolor sit aemt lorem ipsum dolor sit amet</p>
                  <ul class="fa-ul benefit">
                    <li><span class="fa-li"><i class="fa fa-star"></i></span>Hotel Meister Recommend</li>
                    <li><span class="fa-li"><i class="fa fa-star"></i></span>Near Kura-Kura Bus</li>
                    <li><span class="fa-li"><i class="fa fa-star"></i></span>Near Kura-Kura Bus</li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="content">
                  <ul class="nav nav-justified nav-tabs nav-area" role="tablist">
                    <li role="presentation" class="active"><a href="#nearby" aria-controls="nearby" role="tab" data-toggle="tab">Nearby</a></li>
                    <li role="presentation" class=""><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="nearby">
                      <ul>
                        <li>Beachclub</li>
                        <li>Shopping Center</li>
                        <li>Downtown</li>
                        <li>Kura-Kura Bus Stop</li>
                        <li>JTB tour desk</li>
                      </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="popular">
                      <ul>
                        <li>Bajra Sandi</li>
                        <li>Tiara Dewata</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <section class="comparison py-60">
      <div class="container">
        <div class="content">
          <p class="title-content">Comparison Room</p>
          <div class="table-responsive">
            <table class="table-comparison" width="100%" border="1">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Room Type</th>
                  <th>Room Size</th>
                  <th>Capacity</th>
                  <th>Range Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Suite Room</td>
                  <td>16 m2</td>
                  <td>2 people</td>
                  <td>Rp. 150.000 - Rp. 160.000</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Deluxe Room</td>
                  <td>16 m2</td>
                  <td>3 people</td>
                  <td>Rp. 150.000 - Rp. 160.000</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Suite Room</td>
                  <td>16 m2</td>
                  <td>5 people</td>
                  <td>Rp. 150.000 - Rp. 160.000</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </section>
    <section class="select-room py-60">
      <div class="container w-460">
        <div class="content">
          <p class="title-content">Select Your Room</p>
        </div>
        <form class="book-room" method="post" action="">        
          <div class="row center-item">
            <div class="col-xs-12 col-lg-10 con-wrapper">
              <div class="content same-height">
                <div class="row center-item">
                  <div class="col-xs-12 col-sm-3 pad-0">
                    <div class="img-wrapper">
                      <img src="~/static/img/choose_us/benefit-4.jpg" alt="benefit-4" class="img-responsive" />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 add-border">
                    <div class="detail-content">
                      <p class="name">Suite Room 16 m2</p>
                      <p class="capacity">2 people</p>
                      <p class="price">Rp. 1.200.000</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 add-border">
                    <div class="choice">
                      <p class="same-title">Your Choice</p>
                      <ul>
                        <li>Private Pool</li>
                        <li>Terrace</li>
                        <li>Balcony</li>
                        <li>Coffee / Tea Maker</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2 add-border">
                    <div class="room-input">
                      <label class="same-title">Your Room</label>
                      <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="row center-item">
                  <div class="col-xs-12 col-sm-3 pad-0">
                    <div class="img-wrapper">
                      <img src="~/static/img/choose_us/benefit-4.jpg" alt="benefit-4" class="img-responsive" />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 add-border">
                    <div class="detail-content">
                      <p class="name">Suite Room 16 m2</p>
                      <p class="capacity">2 people</p>
                      <p class="price">Rp. 1.200.000</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 add-border">
                    <div class="choice">
                      <p class="same-title">Your Choice</p>
                      <ul>
                        <li>Private Pool</li>
                        <li>Terrace</li>
                        <li>Balcony</li>
                        <li>Coffee / Tea Maker</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2 add-border">
                    <div class="room-input">
                      <label class="same-title">Your Room</label>
                      <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="row center-item">
                  <div class="col-xs-12 col-sm-3 pad-0">
                    <div class="img-wrapper">
                      <img src="~/static/img/choose_us/benefit-4.jpg" alt="benefit-4" class="img-responsive" />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 add-border">
                    <div class="detail-content">
                      <p class="name">Suite Room 16 m2</p>
                      <p class="capacity">2 people</p>
                      <p class="price">Rp. 1.200.000</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 add-border">
                    <div class="choice">
                      <p class="same-title">Your Choice</p>
                      <ul>
                        <li>Private Pool</li>
                        <li>Terrace</li>
                        <li>Balcony</li>
                        <li>Coffee / Tea Maker</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2 add-border">
                    <div class="room-input">
                      <label class="same-title">Your Room</label>
                      <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-2">
              <div class="content reserved same-height">
                <p><span class="person"><b>1</b></span> room for</p>
                <p class="price">Rp. 1.200.000</p>
                <div class="text-center">
                  <a class="btn btn- custom btn-black font12 px-15 py-10" href="booking">Reserve Now</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="offer py-60">
      <div class="container">
        <div class="content">
          <p class="title-content">Hotel Ayanan - Jimbaran Offer</p>
          <ul class="nav nav-justified nav-tabs nav-offer" role="tablist">
            <li role="presentation" class="active"><a href="#facilities" aria-controls="facilities" role="tab" data-toggle="tab">Hotel Facilities</a></li>
            <li role="presentation" class=""><a href="#nearest" aria-controls="nearest" role="tab" data-toggle="tab">Nearest Essential</a></li>
            <li role="presentation" class=""><a href="#policy" aria-controls="policy" role="tab" data-toggle="tab">Property's guest Policy</a></li>
            <li role="presentation" class=""><a href="#announcement" aria-controls="announcement" role="tab" data-toggle="tab">Announcement</a></li>
            <li role="presentation" class=""><a href="#restaurant" aria-controls="restaurant" role="tab" data-toggle="tab">Restaurant &amp; Spa</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="facilities">
              <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit maet</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="nearest">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="policy">
              <ul>
                <li>Bajra Sandi</li>
                <li>Tiara Dewata</li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="announcement">
              <ul>
                <li>Bajra Sandi</li>
                <li>Tiara Dewata</li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="restaurant">
              <ul>
                <li>Bajra Sandi</li>
                <li>Tiara Dewata</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  // if(process.browser) {
  //   var {lightbox} = require('~/assets/js/lightbox.js')
  // }
  import Lightbox from '~/components/Lightbox'
  export default{
    components: {
      Lightbox
    },
    data() {
      return {
        map: {},
        markers: []
      }
    },
    mounted(){
      var slider_home = new Swiper('.content .swiper-container', {
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        speed: 1000,
        autoplay: {
          delay: 3000
        },
        loop:true
      });
      var x = $(".reserved");

    }
  }
</script>