<template>
	<section class="detail-area py-60 ">
    <div class="container">
      <div class="title-section text-center">
        <h2 class="text-uppercase">More about Jimbaran</h2>
        <hr class="border-bottom my-30" />
      </div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ul class="nearby">
          <li>Beachfront</li>
          <li>Beachclub</li>
          <li>Shopping Center</li>
          <li>Golf Course</li>
          <li>Convinience Store</li>
          <li>Beachfront</li>
          <li>Beachclub</li>
          <li>Shopping Center</li>
          <li>Golf Course</li>
          <li>Convinience Store</li>
          <li>Beachfront</li>
          <li>Beachclub</li>
          <li>Shopping Center</li>
          <li>Golf Course</li>
          <li>Convinience Store</li>
          <li>Beachfront</li>
          <li>Beachclub</li>
          <li>Shopping Center</li>
          <li>Golf Course</li>
          <li>Convinience Store</li>
        </ul>
        <!-- <ul>
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Dolor</li>
          <li>Sit</li>
          <li>Amet</li>
        </ul>
        <ul>
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Dolor</li>
          <li>Sit</li>
          <li>Amet</li>
        </ul> -->
      </div>
    </div>
  </section>
</template>