<template>
  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <h2 class="text-uppercase text-gold pb-30">お問い合わせ先</h2>
          <p class="foot-detail">
            <span class="title text-gold">Address</span><br/>
            Jl. Bypass Ngurah Rai No. 88, Kelan Abian, Tuban - Kuta, Bali, 80362 - Indonesia
          </p>
          <p class="foot-detail">
            <span class="title text-gold">Telephone</span><br />
            (+62) 361-708555 (09:00-19:00) ニュピ除く
          </p>
          <p class="foot-detail">
            <span class="title text-gold">Email</span><br />
            reservation_jtbbali.id@jtbap.com
          </p>
        </div>
        <div class="col-xs-12 col-sm-7">
          <form method="post" action="" class="form-contact">
            <div class="row">
              <div class="col-xs-12 col-sm-6 form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" />
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" />
              </div>
              <div class="col-xs-12 form-group">
                <label for="message">Message</label>
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
            <div class="button-wrapper text-right">
              <button class="btn btn-gold text-center">Send</button>
            </div>
          </form>
        </div>
      </div>
      <div class="copyright text-center">
        <p>&copy; 2019 Kura Kura Hotel. All rights reserved. Powered by <a href="http://timedoor.net" target="_blank" class="text-gold">PT Timedoor Indonesia</a></p>
      </div>
    </div>
  </section>
</template>