<template>
  <form method="post" action="booking-detail">
    <section class="form-booking py-60">
      <div class="container">
        <div class="title-section-2">
          <h2 class="text-uppercase mb-15">Guest Information</h2>
        </div> 
        <div class="row">
          <div class="form-wrapper">
            <div class="col-xs-12">
              <h3>Suite Room 1</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="name-1">Full Name 1</label>
                <input type="text" name="full_name1" class="form-control" id="name-1" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="name-2">Full Name 2</label>
                <input type="text" name="full_name2" class="form-control" id="name-2" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="flight-arrive">Flight Number</label>
                <input type="text" name="flight_arrive" class="form-control" id="flight-arrive" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="return-flight">Return Flight Number</label>
                <input type="text" name="return_flight" class="form-control" id="return-flight" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="arrive">Arrival Date</label>
                <input type="text" name="arrive" class="form-control" id="arrive" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="phone-number">Phone Number</label>
                <input type="text" name="return_flight" class="form-control" id="return-flight" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="emergency-name">Emergecy Contact Name (optional)</label>
                <input type="text" name="emergency_name" class="form-control" id="emergency-name" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="emergency-call">Emergency Call (optional)</label>
                <input type="text" name="emergency-call" class="form-control" id="emergency-call" />
              </div>
            </div>
          </div>
          <div class="form-wrapper">
            <div class="col-xs-12">
              <h3>Suite Room 2</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="name-1">Full Name 1</label>
                <input type="text" name="full_name1" class="form-control" id="name-1" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="name-2">Full Name 2</label>
                <input type="text" name="full_name2" class="form-control" id="name-2" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="flight-arrive">Flight Number</label>
                <input type="text" name="flight_arrive" class="form-control" id="flight-arrive" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="return-flight">Return Flight Number</label>
                <input type="text" name="return_flight" class="form-control" id="return-flight" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="arrive">Arrival Date</label>
                <input type="text" name="arrive" class="form-control" id="arrive" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="phone-number">Phone Number</label>
                <input type="text" name="return_flight" class="form-control" id="return-flight" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="emergency-name">Emergecy Contact Name (optional)</label>
                <input type="text" name="emergency_name" class="form-control" id="emergency-name" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="emergency-call">Emergency Call (optional)</label>
                <input type="text" name="emergency-call" class="form-control" id="emergency-call" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="request py-60">
      <div class="container">
        <div class="title-section-2 mb-30">
          <h2 class="text-uppercase">Request to Hotel</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="example same-height">
              <p>Example for fill the text area on the right side</p>
              <ul>
                <li>Special Arrange</li>
                <li>Bed type : Double / Tween</li>
                <li>Honeymooner Benefit</li>
                <li>Connectiong Room</li>
                <li>Early check in / Late check out</li>
                <li>Baby cot</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <textarea class="form-control same-height" placeholder="Please type your additional here"></textarea>
          </div>
        </div>
        <div class="text-right pt-45">
          <button class="btn btn-custom btn-gold text-center">Submit</button>
          <button class="btn btn-custom btn-black text-center">Cancel</button> 
        </div>
      </div>
    </section>
  </form>
</template>