<template>
  <section class="hotel-other same-card py-60">
    <div class="container">
      <div class="title-section text-center">
        <h2 class="text-uppercase">{{ title }}</h2>
        <hr class="border-bottom my-30" />
      </div>
      <div class="button-wrap text-center pb-45" v-if="$nuxt.$route.name == 'category'">
        <button class="btn btn-custom btn-villa">Jimbaran</button>
        <button class="btn btn-custom btn-villa">Kerobokan / Seminyak</button>
        <button class="btn btn-custom btn-villa">Kuta / Legian</button>
        <button class="btn btn-custom btn-villa">Tanah Lot</button>
        <button class="btn btn-custom btn-villa">Canggu</button>
        <button class="btn btn-custom btn-villa">Uluwatu</button>
      </div>

      <div class="tab-wrap text-center pb-45" v-else>
        <ul class="tab-custom nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="" class="text-uppercase">Hotel</a></li>
          <li role="presentation" class=""><a href="" class="text-uppercase">Villas</a></li>
          <li role="presentation" class=""><a href="" class="text-uppercase">Family &amp; Group</a></li>
          <li role="presentation" class=""><a href="" class="text-uppercase">New Open</a></li>
        </ul>
      </div>
    </div>
    <div class="container w-460">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="content same-height img-rounded mb-15">
            <a href="" class="img-wrapper">
              <img src="/img/hotel-meister/bedroom-architecture.jpg" class="img-responsive" alt="Benefit 1" />
            </a>
            <div class="text">
              <p class="recommend"><i class="fa fa-star"></i> Hotel Meister Recommend</p>
              <h3 class="name"><a href="">Hotel Ayana - Jimbaran</a></h3>
              <p class="small"><b>900 m</b> from center | <a href="" class="nearby">Beach Nearby</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="content same-height img-rounded mb-15">
            <a href="" class="img-wrapper">
              <img src="/img/hotel-meister/bedroom-brown.jpg" class="img-responsive" alt="Benefit 1" />
            </a>
            <div class="text">
              <p class="recommend"><i class="fa fa-star"></i> Hotel Meister Recommend</p>
              <h3 class="name"><a href="">Hotel Rimba - Jimbaran</a></h3>
              <p class="small"><b>900 m</b> from center | <a href="" class="nearby">Beach Nearby</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="content same-height img-rounded mb-15">
            <a href="" class="img-wrapper">
              <img src="/img/hotel-meister/bedroom-contemporer.jpg" class="img-responsive" alt="Benefit 1" />
            </a>
            <div class="text">
              <p class="recommend"><i class="fa fa-star"></i> Hotel Meister Recommend</p>
              <h3 class="name"><a href="">Hotel Ritz - Nusa Dua</a></h3>
              <p class="small"><b>900 m</b> from center | <a href="" class="nearby">Beach Nearby</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="content same-height img-rounded mb-15">
            <a href="" class="img-wrapper">
              <img src="/img/hotel-meister/bedroom.jpg" class="img-responsive" alt="Benefit 1" />
            </a>
            <div class="text">
              <p class="recommend"><i class="fa fa-star"></i> Hotel Meister Recommend</p>
              <h3 class="name"><a href="">Samanta - Seminyak</a></h3>
              <p class="small"><b>900 m</b> from center | <a href="" class="nearby">Beach Nearby</a>, <a href="" class="nearby">Beach Nearby</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: ['title', 'data']
  }
</script>

<style scoped>
  .small {
    margin: 0;
  }
</style>