<template>
  <section class="hotel-meister same-card py-60" style="background-image: url('img/icon/Bg-grey.jpg')">
    <div class="container w-460">
      <div class="title-section text-center">
        <h2 class="text-uppercase">{{ title }}</h2>
        <hr class="border-bottom my-30" />
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3" v-for="specialBenefit,index in data" :key="specialBenefit.id">
          <div class="content same-height img-rounded mb-15">
            <a :href="$store.state.link + 'property'" class="img-wrapper">
              <img :src="( specialBenefit.image || 'https://via.placeholder.com/1920x683' )" class="img-responsive" :alt="specialBenefit.code" />
              <ribbon />
            </a>
            <div class="text">
              <p class="recommend"><i class="fa fa-star"></i> Hotel Meister Recommend</p>
              <h3 class="name"><a href="property">{{ specialBenefit.name }} - Jimbaran</a></h3>
              <p class="small">
                <b>900 m</b> from center 
                <span v-if="specialBenefit.places != ''">|</span> 
                <a
                  class="nearby"
                  v-for="nearby,index in customShown(specialBenefit.places, shown)"
                  :key="nearby.id"
                  :href="nearby.link" target="_blank"
                >{{ nearby.name }}<span>{{ index < shown-1 ? ', ' : '' }}</span>
                </a>
              </p>
              <ul class="list-special">
                <li v-for="facilities,index in customShown(specialBenefit.facilities, 3)" :key="facilities.id">{{ facilities.facility }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper text-center mt-30">
        <button class="btn btn-custom btn-black py-10 px-35">More</button>
      </div>
    </div>
  </section>
</template>

<script>
  import ribbon from '~/components/special-ribbon.vue'
  export default {
    components: {
      ribbon
    },
    props: ['title', 'data'],
    data(){
      return {
        shown: 2
      }
    },
    methods:{
      customShown(ps,limit) {
        return ps.slice(0, limit)
      }
    },
    computed: {
    },
    mounted(){
      $(function(){

      });
    }
  }
</script>