<template>
  <!-- <div :class="{ 'vue-lightbox' : !resetstyles }"> -->
    <div class="vue-lightbox row">
    <h1 v-if="title">{{ title }}</h1>
    <div v-for="(image, index) in images" class="col-xs-12 col-sm-20">
      <div class="preview">
        <img :src="image.src" :alt="image.caption" @click="clickImage(index)" class="img-responsive">
      </div>      
    </div>

    <!-- <div v-for="(image, index) in images" class="col-xs-20 preview">
      <img :src="image.src" :alt="image.caption" @click="clickImage(index)" class="img-responsive">
    </div> -->
    <!-- <ul>
      <li v-for="(image, index) in images" class="col-xs-20">
          <img :src="image.src" :alt="image.caption" @click="clickImage(index)" class="img-responsive">
      </li>       
     </ul> -->
     <!-- @click.self="closeOverlay" -->
     <div class="lightbox-overlay" v-if="overlayActive" >
      <div class="holder">
      	<div class="wrapper">
        	<img :src="images[currentImage].src" class="img-responsive" />
      	</div>
        <div class="wrap" v-if="nav">
          <a class="close" nohref @click="closeOverlay"><span>&times;</span></a>
          <a class="prev" nohref @click="prevImage"><span>‹</span></a>
          <a class="next" nohref @click="nextImage"><span>›</span></a>
        </div>
        <p>{{ currentImage + 1 }}/{{ images.length }}</p>
      </div>
      <div class="wrapper-bt-all">
        <div class="button-wrapper" id="button-wrapperl">
          <button class="btn btn-custom btn-black">All photos (20)</button>
          <button class="btn btn-custom btn-black">All photos (20)</button>
          <button class="btn btn-custom btn-black">All photos (20)</button>
          <button class="btn btn-custom btn-black">All photos (20)</button>
          <button class="btn btn-custom btn-black">All photos (20)</button>
          <button class="btn btn-custom btn-black">Building/Decoration (20)</button>
        </div>
      </div>
     </div>
  </div>
</template>

<script>

export default {
  props: {
    resetstyles: {
      default: false,
      type: Boolean,
    },
    title: {
      type: String,
    },
    images: {
      type: Array,
    },
    loop: {
      default: true,
      type: Boolean,
    },
    nav: {
      default: true,
      type: Boolean,
    },
    caption: {
      default: true,
      type: Boolean,
    },
  },
  data() {
    return {
      currentImage: null,
      overlayActive: false,
    };
  },
  methods: {
    clickImage(index) {
      this.currentImage = index;
      this.overlayActive = true;
    },
    nextImage() {
      if (this.currentImage === (this.images.length - 1)) {
        if (this.loop) {
          this.currentImage = 0;
        }
      } else {
        this.currentImage += 1;
      }
    },
    prevImage() {
      if (this.currentImage === 0) {
        if (this.loop) {
          this.currentImage = (this.images.length - 1);
        }
      } else {
        this.currentImage -= 1;
      }
    },
    closeOverlay() {
      this.overlayActive = false;
    },
    handleGlobalKeyDown(e) {
      switch (e.keyCode) {
        case 37: this.prevImage(); break;
        case 39: this.nextImage(); break;
        case 27: this.closeOverlay(); break;
        default: break;
      }
    },
  },
  mounted() {
    // const self = this;
    // window.addEventListener('keydown', (e) => {
    //   self.handleGlobalKeyDown(e);
    // });
    // var but = $(".button-wrapper");
    
    $(function() {

        $(".bri").click(function(){
        // $('#button-wrapperl').animate({
        //   scrollLeft: "-=10px"
        // }, "slow");
          alert("hiosf");
      });

      // $('.brasao').on('click', function() {
      //   $('#button-wrapperl').animate({
      //    scrollLeft: "+=10px"
      //   }, "slow");
      // });
    });

    

  },
}
</script>
