<template>
	<header>
		<nav class="navbar">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>

		    <div class="collapse navbar-collapse" id="navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right navbar-custom">
		        <li>
              <a href="">Shuttle Bus</a>
            </li>
		        <li>
              <a href="http://in.kura2bus.com/super_pass" target="_blank">Bali Super Pass</a>
            </li>
		        <li>
              <a href="http://in.kura2bus.com/transfer_service" target="_blank">Airport Transfer</a>
            </li>
		        <li>
              <a href="http://baliventuretours.com" target="_blank">Baliventure</a>
            </li>
		        <li class="active">
              <a href="/">Hotel</a>
            </li>
		        <li>
              <a href="#">Optional Tour</a>
            </li>
		        <li>
              <a href="#">Bali Guide</a>
            </li>
		        <li class="dropdown dropdown-custom">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/icon/united-kingdom.png" alt="England Flag Icon" class="flag"> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/id"><img src="/img/icon/indonesia.png" alt="Indonesia Flag Icon" class="flag"></a></li>
                <li><a href="/jp"><img src="/img/icon/japan.png" alt="Japan Flag Icon" class="flag"></a></li>
                <li><a href="/ch"><img src="/img/icon/china.png" alt="China Flag Icon" class="flag"></a></li>
              </ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>
</template>

<script>
    export default{
    	mounted(){
        $(function () {
          // $(document).scroll(function () {
          //   var $nav = $(".navbar-fixed-top");
          //   $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
          // });
          $('#monitor').html($(window).width());

          $(window).resize(function() {
              var viewportWidth = $(window).width();
              $('#monitor').html(viewportWidth);
          });
        });
    	}
    }
</script>