<template>
  <section class="review py-60">
    <div class="container">
      <div class="title-section text-center">
        <h2 class="text-uppercase">ロコミ。レビュー</h2>
        <hr class="border-bottom my-30" />
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-toggle="modal" data-target="#detailReview" :data-val="review.id" v-for="review,index in data" :key="review.id" style="cursor: pointer;">
            <h3 class="title">{{ review.property.name }} in {{ review.property.area.name }}</h3>
            <p class="detail-review">{{ review.short_review }}</p>
            <p class="reviewer">" {{ review.name }} "</p>
            <p class="rating">
              <i class="fa fa-star" v-for="star in review.rating" /><i class="fa fa-star-o" v-for="staroff in (5 - review.rating)" />{{ idReview + 's' }}
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="modal fade" id="detailReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" :data-val="0" ref="idReviews">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{ getIdReview.id }}</h4>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default{
  props:['data'],
  data(){
    return {
      starDis: 0,
      current: null,
      idReview: ''
    }
  },
  methods: {
    getIdReview(){
      const idR = this.$refs.idReviews
      const idToCheck = idR.dataset.Val

      return _.pickBy(this.data, function(x){
        return x.id == idToCheck
      })
    }
  },
  computed:{
    // rating: function() {
    //   // const here = this.current
    //   return _.pickBy(this.data, function(x){
    //     return x.is_shown_in_home
    //   })
    // },
  },
  mounted() {
    var settings, expectedtoShow;

    var slider_home = new Swiper('.review .swiper-container', settings);

    var total = slider_home.slides.length;
    expectedtoShow = slider_home.params.slidesPerView;
    total >= 4 ? expectedtoShow = 4 : expectedtoShow = expectedtoShow;

    settings = {
      pagination: {
        el: '.swiper-pagination'
      },
      spaceBetween: 25,
      slidesPerView: expectedtoShow,
      breakpoints: {
        480: {
          slidesPerView: 1
        },
        991: {
          slidesPerView: 2,
        }
      },
      speed: 1500,
      autoplay: {
        delay: 2000
      },
      autoHeight: true
    };

    slider_home = new Swiper('.review .swiper-container', settings);

    // this.current = window.location.pathname.split('/').pop()
    // console.log(this.current)

    $('.swiper-slide').click(function(){
      var vall = $(this).attr('data-val');
      $('#detailReview').attr('data-val', vall);
    });

  }
}
</script>