<template>
	<section class="search-form py-60">
    <div class="container">
      <form method="post" action="search" class="form-wrapper py-30">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label for="stay_date">宿泊日</label>
              <input type="text" name="stay_date" class="form-control" id="stay_date" :value="formatDates(dateOne, dateTwo)" />
              <AirbnbStyleDatepicker
                :trigger-element-id="'stay_date'"
                :mode="'range'"
                :minDate= "datetoday"
                :date-one="dateOne"
                :date-two="dateTwo"
                @date-one-selected="val => { dateOne = val }"
                @date-two-selected="val => { dateTwo = val }"
                :closeAfterSelect=true
                :style="{ 'top' : '60px' }"
              />
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label for="hotel_type">部屋数</label>
              <input type="number" name="hotel_type" class="form-control" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label for="hotel_type">ご利用人数</label>
              <input type="number" name="hotel_type" class="form-control" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label for="hotel_type">エリア</label>
              <input type="text" name="hotel_type" class="form-control" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label for="hotel_type">ホテルタイプ</label>
              <input type="text" name="hotel_type" class="form-control" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label for="hotel_type">料金</label>
              <input type="text" name="hotel_type" class="form-control" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label for="hotel_type">キーワード</label>
              <input type="text" name="hotel_type" class="form-control" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="content form-group">
              <label style="visibility: hidden;">sdgkjlgs</label>
              <button type="submit" class="btn btn-black form-control">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
  import format from 'date-fns/format'

  export default {
  data() {
    return {
      dateFormat: 'DD/MMM/YYYY',
      datetoday : new Date().toISOString().slice(0,10),
      dateOne: this.datetoday,
      dateTwo: this.datetoday,
      dateOne: '',
      dateTwo: ''
    }
  },
  methods: {
    formatDates(dateOne, dateTwo) {
      let formattedDates = ''
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat)
      }
      if (dateTwo) {
        formattedDates += ' - ' + format(dateTwo, this.dateFormat)
      }
      return formattedDates
    }
  }
}
</script>