<template>
	<section class="search-page py-60">
    <div class="container">
      <div class="col-xs-12 col-md-3">
        <form method="post" action="#" class="form-wrapper">
          <div class="row">
            <div class="col-xs-6 col-md-12">
              <div class="content form-group">
                <label for="stay_date">宿泊日</label>
                <input type="text" name="stay_date" class="form-control" />
              </div>
            </div>
            <div class="col-xs-6 col-md-12">
              <div class="content form-group">
                <label for="hotel_type">ご利用人数</label>
                <input type="number" name="hotel_type" class="form-control" />
              </div>
            </div>
            <div class="col-xs-6 col-md-12">
              <div class="content form-group">
                <label for="hotel_type">エリア</label>
                <input type="text" name="hotel_type" class="form-control" />
              </div>
            </div>
            <div class="col-xs-6 col-md-12">
              <div class="content form-group">
                <label for="hotel_type">キーワード</label>
                <input type="text" name="hotel_type" class="form-control" />
              </div>
            </div>
            <div class="col-xs-6 col-md-12">
              <div class="content form-group">
                <label for="hotel_type">部屋数</label>
                <input type="number" name="hotel_type" class="form-control" />
              </div>
            </div>
            <div class="col-xs-6 col-md-12">
              <div class="content form-group">
                <label for="hotel_type">ホテルタイプ</label>
                <input type="text" name="hotel_type" class="form-control" />
              </div>
            </div>
            <div class="col-xs-6 col-md-12">
             <div class="content form-group">
                <label for="hotel_type">料金</label>
                <input type="text" name="hotel_type" class="form-control" />
              </div>
            </div>
            <div class="col-xs-6 col-md-12">
              <div class="content form-group">
                <label style="visibility: hidden;">sdgkjlgs</label>
                <button type="submit" class="btn btn-black form-control">Search</button>
              </div>
            </div>
          </div>
        </form>
        <div class="filter-side py-40 px-30" id="sort-desktop">
        </div>
        <div class="sort-content">
          <div class="content">
            <p class="filter-by">Hotel Facilities</p>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="japanese-speaker" class="" /> Japanese Speaker
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="free-wifi" /> Free Wifi
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="smooking-room" /> Smoking Room
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="hotel-spa" /> Hotel Spa
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="hotel-restaurant" /> Hotel Restaurant
                <span class="checkmark"></span>
              </label>              
            </div>
          </div>
          <div class="content">
            <p class="filter-by">Room Facilities</p>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="kitchen" class="" /> Kitchen / Kitchenette
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="private-bathroom" /> Private Bathroom
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="bathub" /> Bathub
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="hand-shower" /> Hand Shower
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="private-pool" /> Private Pool
                <span class="checkmark"></span>
              </label>              
            </div>
          </div>
          <div class="content">
            <p class="filter-by">Location</p>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="beachfront" class="" /> Beachfront
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="beachclub" /> Beachclub
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="shopping" /> Shopping Center
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="golf" /> Golf Course
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox">
              <label class="cb-wrapper">
                <input type="checkbox" name="convenience" /> Convenience Store
                <span class="checkmark"></span>
              </label>              
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="content">
          <div class="filter-top clearfix">
            <p>Sort by : </p>
            <div class="filter-wrap pull-right">
              <a href="" class="">Price (Lowest First)</a>
              <a href="" class="active">Hotel Meister Recommend</a>
              <a href="" class="">Top Popular</a>
            </div>
            <select class="filter-wrap-select">
              <option value="recommend">Hotel Meister Recommend</option>
              <option value="price">Price (Lowest First)</option>
              <option value="popular">Top Popular</option>
            </select>
          </div>
          <div class="item-wrapper">
            <div class="item">
              <div class="row center-item">
                <div class="col-xs-12 col-md-4 pad-0">
                  <a href="img/icon/Bg-area.jpg" class="img-wrapper gallery img-responsive" style="display: block;">
                    <img src="/img/icon/Bg-area.jpg" alt="" class="img-responsive" />
                  </a>
                </div>
                <div class="col-xs-12 col-md-4">
                  <div class="description">
                    <h2 class="name">Hotel Ayana - Jimbaran</h2>
                    <p class="small"><b>900 m</b> from center | <a href="" class="nearby">Beach Nearby</a> |<br/><a href="" class="nearby">Show on map</a></p>
                    <p class="desc">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum</p>
                    <ul class="fa-ul benefit">
                      <li><span class="fa-li"><i class="fa fa-star"></i></span>Hotel Meister Recommend</li>
                      <li><span class="fa-li"><i class="fa fa-star"></i></span>Near Kura-Kura Bus</li>
                      <li><span class="fa-li"><i class="fa fa-star"></i></span>Near Kura-Kura Bus</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4">
                  <div class="wrapper">
                    <p class="price">Rp 1.200.000</p>
                    <a href="property" class="show-detail">Show Detail</a>
                  </div>
                </div>
              </div>
            </div>
            <nav aria-label="Page navigation">
              <ul class="pagination pag-custom">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-black btn-filter btn-sm" data-toggle="modal" data-target="#modal-filter">
        Filter
      </button>
      <div class="modal modal-center modal-filter fade" id="modal-filter" tabindex="-1" role="dialog" aria-labelledby="modalfilterLabel">
        <div class="d-table" style="height: 100%;width: 100%;" >
          <div class="d-table-cell container" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p class="modal-title text-center" id="modalfilterLabel">Filter</p>
              </div>
              <div class="modal-body" id="sort-mobile">
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    mounted() {
      // var gal = $(".gallery").simpleLightbox();
      $(document).ready(function(){
        if ($(window).width() <= 991) {
          $('#sort-mobile').append($('.sort-content'));
        }
        else {
          $('#sort-desktop').append($('.sort-content'));
        }
      });
      $(window).resize(function() {
        if ($(window).width() <= 974) {
          $('#sort-mobile').append($('.sort-content'));
        }
        else {
          $('#sort-desktop').append($('.sort-content'));
        }
      });
    }
  }
</script>
