<template>
	<section class="slider-home">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="slideHome in data" :key="slideHome.id">
          <div class="content" :style="{ 'background-image' : 'url(' + slideHome.image + ')' }">
          </div>
				</div>
			</div>
      <div class="text-fixed text-center container">
        <h1 class="text-uppercase wow fadeInUp" data-wow-delay=".5s">{{ title }} </h1>
        <p class="wow fadeInUp" data-wow-delay="1.5s" v-if="this.$route.name == 'index'">リアルタイムな情報と自由自在なホテルアレンジをご提供。 <br/>
オンライン予約では難しいグループ旅行やハネムーンなど、 <br/>豊富な知識を基に様々なご要望にお応えします。</p>
      </div>
			<div class="swiper-pagination">
			</div>
      <div class="swiper-button-prev hidden-xs">
        <span class="fa fa-angle-left"></span>
      </div>
      <div class="swiper-button-next hidden-xs">
        <span class="fa fa-angle-right"></span>
      </div>
		</div>
	</section>
</template>

<script>
  if(process.browser) {
    var {WOW} = require('wowjs')
  }

	export default{
    props: ['title','data'],
		mounted() {
    if(process.browser) {
      new WOW({
        live: true,
        offset: 0
      }).init();
    }

    var slider_home = new Swiper('.slider-home .swiper-container', {
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        freeMode: false,
        speed: 1500,
        autoplay: {
          delay: 3000
        },
        loop:true
      });
		}
	}
</script>
