<template>
	<span class="ribbon">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
  		<style type="text/css">
  		  .st0{fill:#CEAF4E;}
  		</style>
  		<rect id="XMLID_1_" x="-7.1" y="67.7" transform="matrix(0.7481 -0.6636 0.6636 0.7481 -30.8764 68.661)" class="st0" width="250" height="33"/>
      <text x="73" y="88" fill="#fff" font-family="Open Sans" transform="matrix(0.7481 -0.6636 0.6636 0.7481 -30.8764 68.661)">Special Benefit</text>
		</svg>
	</span>
</template>

<style scoped>
  .ribbon {
    position: absolute;
    top: 0;
    left: -60px;
  }
  .ribbon text{
    display: block;
  }
</style>