@media (min-width: 1260px) {
	.search-form {
    .container {
      padding: 0 45px;
      width: 1230px;
    }
  }
}

// @media (min-width: 768px) and (max-width: 991px) {
//   .navbar-collapse.collapse {
//     display: none !important;
//     }
//   .navbar-toggle {
//     display: block;
//   }
// }
@media (max-width: 1200px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 3px 0 #0f0f0f;
    padding: 10px 0;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .search-page .filter-top a {
    padding: 0 5px;
  }
}

@media (min-width: 992px) {
  .choose-us {
    height: 100vh;
    position: relative;

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

@media (max-width: 991px) {
  .choose-us {
    .content {
      padding-bottom: 15px;
    }
  }
  .search-page {
    .filter-top {
      padding-top: 15px;
    }
    .pad-0 {
      padding-right: 15px;
    }
    .wrapper {
      position: unset !important;
    }
    .description {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .show-detail, .price {
      position: unset !important;
    }
    .price {
      margin-bottom: 15px;
    }
    .form-wrapper {
      padding: 15px 15px;
    }
    .item-wrapper {
      nav {
        text-align: center;
      }
    }
  }
  .lightbox-overlay {
    padding: 15px;
  }
  .lightbox-overlay .wrapper{
    height: 300px;
    width: 400px;
  }
  .lightbox-overlay .holder {
    padding-top: 0;
    p {
      text-align: center;
    }
  }
  .lightbox-overlay .holder .wrap .close{
    right: 15px;
    top: 30px;
  }
  .lightbox-overlay .holder .wrap .next {
    right: 0;
  }
  .lightbox-overlay .holder .wrap .prev {
    left: 0;
  }
  .add-border {
    border: unset;
  }
  .filter-side {
    display: none;
  }
  .btn-filter {
    display: block;
  }
}

@media (min-width: 768px) {
  .same-card {
    .text {
      padding: 15px;
    }
  }
  .area {
    &.same-card {
      text-align: center;
    }
  }
  .select-room .con-wrapper .content  {
    .detail-content, .choice, .room-input {
      padding: 15px 0;      
    }
  }
  .modal-center {
    .modal-dialog{
      width: unset;
    }
  }
}

@media (max-width: 767px) {
  .modal-center {
    .modal-dialog{
      width: 100%;
    }
  }
  .slider-home .text-fixed p {
    display: none;
  }
  .w-460 {
    width: 460px;
  }
  .title-section {
    h2 {
      font-size: 28px;
    }
  }
  .same-card {
    .img-wrapper {
      width: 100%;
    }
    .text {
      padding: 15px;
    }
  }
  .area {
    &.same-card {
      text-align: center;
    }
  }
  .review {
    .swiper-wrapper {
      margin-bottom: 30px;
    }
    .swiper-slide h3 {
      font-size: 20px;
    }
  }
  .hotel-other {
    .button-wrap {
      .btn-villa {
        padding: 5px 10px;
        margin-bottom: 7.5px;
        font-size: 14px;

        &:not(:last-child) {
          margin-right: 2.5px;
        }
      }
    }
  }
  .banner {
    .text-fixed {
      h1 {
        font-size: 30px;
      }
    }
  }
  .detail-room {
    .img-wrapper {
      padding-bottom: 15px;
    }
  }
  .title-section-2 {
    text-align: center;
  }
  .request {
    .example {
      padding-bottom: 15px;
    }
  }
  .fa-ul.benefit {
    margin-bottom: 15px;
  }
  .vue-lightbox {
    .col-xs-12 {
      text-align: center;
    }
    .preview {
      display: inline-block;
      max-height: 400px;
      max-width: 300px;
    }
  }
  .comparison .table-comparison th {
    font-size: 14px;
    padding:15px;
  }
  .select-room .con-wrapper .content {
    box-shadow: 0 3px 8px 0 #ccc;
  }
  .select-room .con-wrapper .content {
    .detail-content, .choice, .room-input{
      padding: 0 15px;
    }
    .detail-content, .room-input{
      padding: 15px;
    }
  }
  .reserved {
    text-align: center;
  }
  .select-room .pad-0 {
    padding-right: 15px;
  }
  .offer .nav-offer > li{
    &:not(:first-child) {
      border-left: none;
    }
    
    border-bottom: 1px solid #ddd;
  }
  .footer {
    padding: 30px 0;
    .form-contact {
      margin-top: 30px;
    }    
  }
}

@media (max-width: 480px) {
  .w-460 {
      width: 100%;
  }
  .slider-home {
    .text-fixed h1 {
      font-size: 42px;
    }
  }
  .detail-area {
    .content {
      .nearby {
        columns: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
      }
    }
  }
  .lightbox-overlay .holder .wrap .close{
    right: 5px;
    top: 15px;
  }
  .lightbox-overlay .wrapper{
    width: unset;
    height: 175px;
  }
}

@media (max-width: 600px) {
  .filter-wrap-select {
    display: inline-block;
  }
  .filter-wrap {
    display: none;
  }
}