/* BASIC CONFIG */

// COLORS
$darker: #666;
$dark: #444;
$white: #fff;
$gold: #cdaf4f;
$golden: #9e8640;

// FONTS
/*
  Open Sans, Poppins, Noto Sans JP : sans-serif
*/

$open_sans : 'Open Sans';
$poppins : 'Poppins';
$noto : 'Noto Sans JP';

@mixin transform($property){
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@mixin transition($property){
  -webkit-transition: $property;
      -ms-transition: $property;
          transition: $property;
}

// RESET BOOTSTRAP STYLE

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

p {
  margin: 0;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: $open_sans, sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

p {
  line-height: 1.5;
}

.vertical-align {
  align-items: center;
}

.row-custom-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.col-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-60 {
  padding: 60px 0;
}

.d-table {
  display: table;
  height: 100%;
  width: 100%;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

.form-control {
  border-radius: 0;
}

.text-gold {
  color: $gold;
}

.fa-star {
  color: #f9c421;
}

.btn {
  border: none;
  @include transition(all .4s ease);
  
  &:hover, &:active, &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-black {
  border-radius: unset;
  background-color: $dark;
  color: $white;

  &:hover, &:active, &:focus {
    background-color: #050505;
    color: $white;
  }
}

.btn-gold {
  border-radius: unset;
  background-color: $gold;
  color: $white;

  &:hover, &:active, &:focus {
    background-color: $golden;
    color: $white;
  }
}

.btn-villa {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: unset;
  background-color: $gold;
  color: $white;
  font-size: 16px;
  @include transition(all .3s ease);

  &:hover, &:active, &:focus {
    background-color: $dark;
    color: $white;
  }

  &:not(:last-child){
    margin-right: 5px;
  }
}

.border-bottom {
  display: inline-block;
  width: 75px;
  border-bottom: 1px solid $gold;
}

.title-section {
  font-family: $poppins, sans-serif;
  color: $dark;
  
  h2 {
    font-size: 36px;
    letter-spacing: 3px;
  }
}

header {
  position: relative;
}

.navbar {
  border: unset;
  padding: 15px 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  // &.scrolled {
  //   @include transition(all .3s ease-in-out);
  //   background-color: rgba(0,0,0,.8);
  //   box-shadow: 0 1px 3px 0 #0f0f0f;
  // }

  .navbar-toggle .icon-bar {
    background-color: #ddd;
    @include transition(all .3s ease);
    &:hover {
      background-color: $white;
    }
  }

  &-custom {
    li > a {
      padding: 10px 20px;
      font-family: $open_sans, sans-serif;
      font-size: 14px;
      color: $white;
      transition: all .4s ease;

      &:hover, &:active, &:focus {
        background-color: unset;
        color: #c5a850;
      }
    }
    li.active > a {
      color: $gold;
    }
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: unset;
}

.dropdown-custom {
  .dropdown-toggle {
    &.open > a {
      &:hover, &:active, &:focus {
        background-color: unset;
      }
    }
  }
  & > a {
    background-color: unset;
  }
  .open > {
    background-color: unset;
  }

  .dropdown-menu {
    right: 10px;
    padding: 0;
    min-width: unset;

    li > a {
      padding: 10px 20px;
      background-color: #262626;

      &:hover, &:active, &:focus {
        background-color: $gold;
      }
    }
  }
}

.flag {
  display: inline-block;
  width: 18px;
}

.slider-home {
  .swiper-container {
    height: 100vh;
  }
  .swiper-slide .content{
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%,  rgba(0,0,0,.5) 10%, rgba(0,0,0, .4) 20%  , rgba(0,0,0, .1) 100%);
    }
  }
  .text-fixed {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    z-index: 9;
    font-family: $poppins, sans-serif;

    h1 {
      padding: 0 15px;
      color: $white;
      text-shadow: 2px 2px 6px #444;
      font-size: 60px;
      letter-spacing: 6px;
    }
    p {
      padding: 0 15px;
      padding-top: 30px;
      font-size: 18px;
      color: $white;
      width: 650px;
      display: inline-block;
    }
  }
  .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    background: $golden;
    opacity: .8;

    &-active {
      background: $gold;
      opacity: 1;
    }
  }
  .swiper-button-next {
    right: 75px;
  }
  .swiper-button-prev {
    left: 75px;
  }
  .swiper-button-next, .swiper-button-prev {
    font-size: 62px;
    color: $white;
    opacity: .7;
    background: unset;
    @include transition(all .4s ease);

      &:hover {
        opacity: 1;
      }
  }
}

.search-form {
  position: relative;
  background-color: #f2f2f2;
  font-family: $open_sans, sans-serif;

  // &:before {
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   height: 50%;
  //   top: 0;
  //   left: 0;
  //   background-color: #f2f2f2;
  //   transform-origin: top right;
  //   transform: skewY(2deg);
  //   z-index: 1;
  // }

  .container {
    background-color: $gold;
    position: relative;
  }

  label {
    font-family: $noto, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .form-control {
    border-radius: 0;
    outline: none;
    box-shadow: unset;
    border: none;
  }

}

.choose-us {
  .img-wrapper {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:50%;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      background-color: rgba(0,0,0,.2);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  .text {
    h3 {
      font-family: $open_sans, sans-serif;
      color: $gold;
      font-size: 18px;
      font-weight: 600;
    }
    p {
      font-family: $open_sans, sans-serif;
      color: $darker;
      font-size: 14px;
      line-height: 1.8;
      letter-spacing: .5px;
    }
  }
}

.same-card {
  .content {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    display: block;
    box-shadow: 0 3px 8px 0 #ddd;
    @include transition(all .4s ease);
    color: $darker;

    &:hover, &:focus, &:active {
      text-decoration: none;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,.5);
    }
  }

  // &:hover .content:not(:hover) {
  //   opacity: .5;
  // }

  // .tag-special {
  //   padding: 7px 10px;
  //   background-color: $gold;
  //   color: $white;
  //   font-family: $open_sans, serif;
  //   position: absolute;
  //   top: 30px;
  //   left: -160px;
  //   right: 0;
  //   transform: rotate(-40deg);
  //   text-align: center;
  // }

  .text {
    font-family: $open_sans, sans-serif;
    .recommend {
      color: #aaa;
    }
    .name, .list-special {
      color: $dark;
    }
    .name {
      font-size: 18px;
    }
    .nearby {
      color: #5696ff;
      @include transition(all .3s ease);

      &:focus, &:hover, &:active{
        color: #457ad1;
      }
    }
    .list-special {
      font-size: 16px;
      margin-left: -20px;
    }
    .description {
      font-weight: 400;
    }
  }

  .img-wrapper {
    height: 180px;
    display: block;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.area {
  background: linear-gradient(rgba(205, 175, 79,.9),rgba(205, 175, 79,.9)),url('/img/icon/Bg-area.jpg');
  background-position: center;
  background-size:cover;

  &.same-card {
    .img-wrapper {
      height: 140px;
    }
  }

  .content{
    box-shadow: none;
  }

  .text {
    .name {
      color: $gold;
    }
  }
}

.category {
  .text {
    .name {
      color: $gold;
    }
  }
}

.hotel-meister, .hotel-other {
  position: relative;

  &.same-card {
    .content {
      cursor: unset;
    }
    .text {
      a {
        text-decoration: none;
      }
      h3 {
        a {
          color: unset;
        }
      }
    }
  }
  

  // &:after {
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   background: url('/img/icon/Bg-grey.jpg');
  //   transform-origin: bottom left;
  //   transform: skewY(2deg);
  //   z-index: 1;
  // }

  // .container {
  //   position: relative;
  //   z-index: 2;
  // }
}

.hotel-other {
  .tab-custom {
    a {
      color: $dark;
      font-size: 18px;
    }
    li {
      &:not(:first-child) {
        border-left: 1px solid white;
      }
      & > a {
        border-bottom: 1px solid $darker;
        border-radius: unset;
        @include transition(all .3s ease);

        &:hover, &:active, &:focus {
          border-color: transparent;
          background-color: $gold;
          color: $white;
        }
      }

      &.active{
        & > a {
          border-color: transparent !important;
          border-bottom-color: $gold;
          background-color: $gold;
          color: $white;
        }
      }
    }
  }
}

.detail-area {
  .content {
    font-family: $open_sans, sans-serif;
    color: $dark;
    line-height: 1.6;

    .nearby {
      margin-top: 30px;
      margin-left: -25px;
      columns: 4;
      -webkit-column-count: 4;
      -moz-column-count: 4;
    }
  }
}

.banner {
  position: relative;
  height: 50vh;
  h1 {
    padding: 0 15px;
    font-family: $noto, sans-serif;
    color: $white;
    text-shadow: 2px 2px 6px #444;
    font-size: 42px;
    letter-spacing: 6px;
  }
}

.detail-room {
  .panel {
    margin-top: unset;
    box-shadow: none;
  }
  .panel-group .panel + .panel {
    margin: unset;
  }
  .panel-group > .panel-custom {
    border-radius: 0;

    &:not(:last-child) {
      border-bottom: none;
    }

    .panel-title a {
      display: block;
      text-decoration: none;
      font-family: $open_sans, 'sans-serif';
      font-weight: 600;
    }

    .panel-heading {
      padding: 15px 20px;
      background-color: #e8d8a5;
      border-radius: 0;
    }

    .panel-body {
      padding: 15px 20px;
      font-family: $open_sans, sans-serif;
      border: 1px solid #ddd;

      .see-more {
        color: $gold;
        font-weight: 600;
        text-decoration: none;
        @include transition(all .3s ease);

        &:hover, &:active, &:focus {
          color: $golden;
        }
      }
    }
    .total-wrap {
      padding: 15px 20px;
    }
  }
  table {
    font-family: $open_sans, sans-serif;
  }
  .price-table {
    th {
      font-size: 18px;
    }
  }

  .img-wrapper {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.detail-property {
  .title-content {
    font-size: 24px;
    color: $dark;
    padding-bottom: 10px;
  }
  .swiper-container {
    height: 430px;
  }
  .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
  }
  .swiper-button-prev, .swiper-button-next {
    background: none;
    color: $white;
    font-size: 30px;
  }
  .gallery-wrap {
    display: block;
  }
  .fa-ul {
    margin-left: 20px;
    li {
      line-height: 1.8;
    }
  }
  i.fa-star {
    color: #f9c421;
  }
  .tab-content{
    border: 1px solid #ddd;
    .tab-pane {
      padding-top: 15px;
      padding-bottom: 15px;

      li {
        list-style: none;
        margin-left: -15px;
        line-height: 2;
      }
    }
  }
  .nav-area {
    border: 1px solid #ddd;
    border-bottom: none;
    & > li > a {
      color: $darker;
      border: none;
      @include transition(all .3s ease);

      &:active, &:focus, &:hover {
        border-radius: 0;
      }
    }

    & > li.active > a{
      border-top: none;
      background-color: $gold;
      color: $white;
      border-radius: 0;
      border: none;

      &:hover, &:focus, &:active {
        border: 0;
      }
    }
  }
}

.comparison {
  .table-comparison {
    text-align: center;
    th, td {
      padding: 10px 0;
    }
    th {
      text-align: center;
      background-color: $gold;
      color: $white;
      font-size: 18px;
      font-weight: 400;
    }
    tbody tr{
      &:nth-child(even) {
        background-color: #efefef;
      }
      
    }
  }
}

.select-room {
  .img-wrapper {
    height: 100%;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }
  .prop-detail {
    border: 1px solid #ddd;
  }
  .reserved {
    padding: 15px;
    background-color: $gold;
    .price {
      font-weight: 600;
      font-size: 20px;
      padding-bottom: 15px;
    }
  }
  .row-0 {
    margin-left: 0;
    margin-right:0;
  }
  .pad-0 {
    padding-right: 0;
  }
  .mr-0 {
    margin-right: 0;
  }
  .con-wrapper {
    .content {
      margin-bottom: 30px;
    }
    .same-title {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 15px;
    }

    .detail-content {
      .name {
        font-size: 20px;
        font-weight: 600;
      }
      .capacity {
        font-size: 18px;
      }
      .price {
        font-size: 24px;
        font-weight: 600;
      }
    }

    .choice {
      li {
        margin-left: -18px;
      }
    }

    .form-control {
      box-shadow: none;
      &:hover, &:active, &:focus {
        border-color: $gold;
      }
    }
  }
}

.offer{
  .tab-content{
    border: 1px solid $dark;
    .tab-pane {
      padding: 15px;

      li {
        list-style: none;
        margin-left: -15px;
      }
    }
  }
  .nav-offer {
    border: 1px solid $darker;
    border-bottom: none;
    & > li > a {
      padding: 15px 0;
      color: $darker;
      border: 0;
      border-radius: 0;
    }

    & > li.active > a{
      border-top: none;
      background-color: unset;
      color: $white;
      border-radius: 0;
      border: none;

      &:hover, &:focus, &:active {
        border: 0;
      }
    }
    > li.active {
      background-color: $gold;
      &:hover, &:active, &:focus {
        background-color: $gold;
      }
    }
    > li:not(:first-child) {
      border-left: 1px solid $darker;
    }
    > li {
      vertical-align: middle;
      &:hover, &:active, &:focus {
        background-color: #eee;
      }
    }
  }
}

.add-border {
  border: 1px solid #ddd;
  &:not(:last-child) {
    border-right: none;
  }
}

.form-booking {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;

  .title-section-2 {
    h2 {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 600;
  }

  .form-wrapper {
    display: inline-block;
    padding-bottom: 30px;
  }
  .form-group {
    label {
      font-weight: 400;
    }
    input {
      border-radius: 0;
      border-color: $darker;

      &:focus, &:active {
        box-shadow: unset;
      }
    }
  }
  ul {
    margin-left: -20px;
  }
}

.search-page {
  .form-wrapper {
    margin-top: 35px;
    margin-bottom: 30px;
    background-color: $gold;
    padding: 15px 30px;
  }
  .form-control {
    box-shadow: none;
    border-color: transparent;
  }
  label {
    font-weight: 400;
  }
  .filter-side {
    border: 1px solid #ddd;
    .content {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    .filter-by {
      font-weight: 600;
    }
  }
  .filter-top {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    p {
      display: inline-block;
      font-weight: 600;
      color: $dark;
    }
    a {
      text-decoration: none;
      padding: 0 60px;
      color: $dark;
      @include transition(all .3s ease);

      &:hover, &:active, &:focus {
        color: $gold;
      }
      &.active {
        color: $gold;
      }
    }
  }
  .pad-0 {
    padding-right: 0;
  }
  .item-wrapper {
    .item {
      margin-top: 20px;
      border: 1px solid #ddd;

      .img-wrapper {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .name {
        font-size: 20px;
      }
      .description {
        padding: 15px 0;
      }
      .small {
        margin-bottom: 15px;
      }
      .desc {
        margin-bottom: 15px;
      }
      .price, .show-detail {
        background-color: $gold;
        text-align: center;
        color: $white;
      }
      .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: -1px;
        text-align: center;

        .price {
          padding: 15px 0;
          font-size: 20px;
        }
        .show-detail {
          padding: 15px 0;
          color: $white;
          text-decoration: none;
          font-weight: 600;
          display: block;
        }
      }
    }
  }
  .nearby {
    text-decoration: none;
  }
  .fa-ul {
    margin-left: 20px;
  }
  .pag-custom {
    a {
      color: $dark;
    }
    > .active > a {
      background-color: $gold;
      border-color: transparent;
      color: $white;
    }
    > li:last-child > a {
      border-radius: 0;
    }
    > li:first-child > a {
      border-radius: 0;
    }
  }
}

.request {
  font-family: $open_sans, sans-serif;
  textarea {
    &.form-control {
      border-color: $darker;
      box-shadow: unset;      
    }
  }
  ul {
    margin-left: -20px;
  }
}

.review {
  font-family: $open_sans, sans-serif;

  .swiper-wrapper {
    margin-bottom: 60px;
  }
  .swiper-slide {
    h3 {
      margin-bottom: 20px;
      color: $gold;
      font-size: 22px;
    }
    .detail-review {
      margin-bottom: 20px;
      color: $dark;
      font-size: 14px;
    }
    .reviewer {
      color: #9a9999;
      font-weight: 600;
    }
    .rating {
      color: #f9c421;
    }
  }
  .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background: $golden;
    opacity: .5;

    &s {
      bottom: 0px;
    }

    &-active {
      background: $gold;
      opacity: 1;
    }
  }
}

.footer {
  padding-top: 45px;
  padding-bottom: 30px;
  background: linear-gradient(rgba(76, 76, 76,.9),rgba(76, 76, 76,.9)),url('/img/icon/Bg-laptop.jpg');
  background-position: center;
  background-size:cover;
  font-family: $open_sans, sans-serif;
  font-size: 14px;

  .foot-detail {
    margin-bottom: 15px;
    color: $white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    margin-bottom: 10px;
    color: $white;
    font-weight: 400;
  }

  input, textarea {
    border-radius: 0;
    outline: none;
    box-shadow: unset;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
      border: 1px solid #ddd;
    }
  }

  .copyright {
    padding-top: 40px;
    margin-bottom: -15px;
    color: $white;
  }
  a.text-gold {
    @include transition(all .4s ease);

    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $golden;
    }
  }
}

.jp {
  font-family: $noto, sans-serif;
}

//image gallery
.sl-image img{
    width: 100%;
}

.select-room, .comparison, .offer {
  padding-top: 0;
}

.vue-lightbox .preview {
  height: 150px;
  margin-bottom: 30px;

  &:hover {
      cursor: pointer;
    }

  img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
}

.lightbox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(35,42,49,.96);
  text-align: center;
  padding: 20px;
    box-sizing: border-box;
    z-index: 999999;
  
  .holder {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding-top: 30px;

    img {
      object-fit: contain;
      height: 100%;
      display: inline-block; 
    }
      
    p {
      padding-top: 10px;
      text-align: right;
      color: #ffffff;
      margin: 0;
    }
    .wrap {
      margin: 0 auto;
      font-size: 14px;

      a {
        color: white;
        opacity: 0.3;
        -webkit-user-select: none;    
        cursor: pointer;
        display: inline-block;
        text-decoration: unset;
        transition: all .3s ease;

        &:hover {
          opacity: 1;
        }
      }
      
      .next, .prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        box-sizing: border-box;
        font-size: 40px;

        span {
          top: 50%;
          transform: translateY(-50%);
          position: relative;
        }
      }

      .next {
        right: -45px;
      }

      .prev {
        left: -45px;
      }
      .close {
        right: -30px;
        top: -15px;
        font-size: 30px;
          opacity: 0.6;
        z-index: 1000000;
        position: absolute;
        text-align: left;
        box-sizing: border-box;
        
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .wrapper {
    display: block;
    text-align: center;
    position: relative;
    height: 460px;
    width: 690px;
  }
  .wrapper-bt-all {
  }
  .button-wrapper {
    padding: 15px;
    display: inline-block;
    text-align: center;
    button {
      margin-bottom: 5px;
    }
  }
}

.modal-center {
  .modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    border-radius: 0;
  }
  .modal-header { 
    border-bottom: 2px solid #ddd;
  }
  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }
  .panel-custom2 {
    border: 1px solid #ddd;
    border-radius: 0;

    .panel-heading {
      border-radius: 0;
    }

    .panel-title > a {
      display: block;
      text-decoration: none;
    }

    &.open {
      .panel-heading {
        background-color: $gold;
        color: $white;
      }
    }
  }
  .modal-footer {
    padding-bottom: 30px;
    border-top: 2px solid #ddd;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    ul {
      margin-left: -20px;
    }
    li {
      line-height: 1.8;
    }
  }
}

.btn-filter {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  background: #585858;
  color: #fff;
  border: 1px transparent;
  border-radius: 20px;
  transition: .3s ease;
}
.sort-content {
  .filter-by {
    font-weight: 600;
  }
  .cb-wrapper {
    display: block;
    position: relative;
    input {
      opacity: 0;
      position:absolute;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: transparent;
      border: 1px solid #ccc;
      border-radius: 3px;
      @include transition(all .3s ease);

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
    &:hover input ~ .checkmark {
      background-color: $gold;
      border-color: transparent;
    }
    input:checked ~ .checkmark {
      background-color: $gold;
      border-color: transparent;

      &:after {
        display: block;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.filter-wrap-select{
  display: none;
  padding: 5px;
  outline: none;
  border: 1px solid $dark;
}