<template>
	<section class="error-page" style="height: 100vh;">
    <div class="container" style="height: 100%;">
      <div class="d-table">
        <div class="content d-table-cell text-center">
          <img src="/img/icon/error-gold.png" alt="error" class="img-responsive" style="display: inline-block; width: 500px;" />
          <h1 class="mb-15">404 Not Found !</h1>
          <p><a @click="onBack" class="btn-back">Go back</a></p>
          <!-- <p>The requested page was not found on this server. <br />Try checking the URL for errors, then hit the refresh button on your browser.</p> -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    methods:{
      onBack(){
        return this.$router.back();
      }
    }
  }
</script>
<style scoped lang="scss">
  .btn-back {
    padding: 10px 30px;
    cursor: pointer;
    background-color: #666;
    text-decoration: none;
    color: #fff;
    transition: all .4s ease;

    &:hover, &:active, &:focus{
      background-color: #000;
    }
  }
</style>