<template>
  <section>
    <navbar />
    <slider title="Jimbaran" />
    <search />
    <meister title="Hotel Meister Choice In Jimbaran" />
    <featured title="Featured Hotels" />
    <review style="background: #f2f2f2;" />
    <area-detail />
    <footers />
  </section>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Slider from '~/components/Slider-home.vue'
import Search from '~/components/Search.vue'
import Hotel_meister from '~/components/Hotel-meister.vue'
import Featured from '~/components/Hotel-other.vue'
import Review from '~/components/Review.vue'
import Detail_area from '~/components/Detail-area.vue'
import Footer from '~/components/Footer.vue'

  export default {
    components: {
      Navbar,
      Slider,
      Search,
      'meister' : Hotel_meister,
      Review,
      Featured,
      'area-detail' : Detail_area,
      'footers' : Footer
    },
    mounted(){
      $('.same-height').matchHeight();
      $('.same-height .name').matchHeight();
      $('.same-height .small').matchHeight();
    }
  }
</script>