<template>
  <section>
    <navbar />
    <banner title="Your Reservation" />
    <detail-room />
    <detail-booking />
    <footers />
  </section>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Banner from '~/components/Banner.vue'
import Detail_room from '~/components/Detail-room.vue'
import Detail_booking from '~/components/Detail-booking.vue'
import Footer from '~/components/Footer.vue'

  export default{
    components: {
      Navbar,
      Banner,
      'detail-room' : Detail_room,
      'detail-booking' : Detail_booking,
      'footers' : Footer
    },
    mounted() {
      $('.same-height').matchHeight();
    }
  }
</script>