<template>
  <section>
    <navbar />
    <slider title="Villas" />
    <search />
    <meister title="Hotel Meister Choice For Villas" :data="property.data" />
    <featured title="Featured Villas" :data="property.data" />
    <review style="background: #f2f2f2;" :data="forReview" />
    <footers />
  </section>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Slider from '~/components/Slider-home.vue'
import Search from '~/components/Search.vue'
import Hotel_meister from '~/components/Hotel-meister.vue'
import Featured from '~/components/Hotel-other.vue'
import Review from '~/components/Review.vue'
import Footer from '~/components/Footer.vue'

  export default {
    components: {
      Navbar,
      Slider,
      Search,
      'meister' : Hotel_meister,
      Featured,
      Review,
      'footers' : Footer
    },
    mounted(){
      $('.same-height').matchHeight();
      $('.same-height .name').matchHeight();
      $('.same-height .small').matchHeight();
    },
    computed:{
      forReview: function() {
        return _.pickBy(this.review.data, function(x){
          return x.is_shown_in_category
        })
      }
    },
    async asyncData({ $axios, store }) {
      const lang = store.state.locale
      $axios.defaults.headers.common['X-App-Locale'] = lang
      const slider = await $axios.$get('/home/sliders')
      const property = await $axios.$get('home/special-benefits')
      const area = await $axios.$get('/home/areas')
      const category = await $axios.$get('/home/categories')
      const review = await $axios.$get('/home/reviews')

      return { slider, property, area, category, review }
    }
  }
</script>