<template>
  <section>
    <navbar />
    <slider title="バリ島 ホテル予約" :data="slider.data" />
    <search />
    <meister title="おすすめホテル・キャンペーン" :data="property.data" />
    <choose />
    <areas :data="area.data" />
    <category :data="category.data" />
    <review :data="forReview" />
    <footers />
  </section>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Slider from '~/components/Slider-home.vue'
import Search from '~/components/Search.vue'
import Choose_us from '~/components/Choose-us.vue'
import Hotel_meister from '~/components/Hotel-meister.vue'
import Area from '~/components/Area.vue'
import Category from '~/components/Category.vue'
import Review from '~/components/Review.vue'
import Footer from '~/components/Footer.vue'



export default {
  components: {
    Navbar,
    Slider,
    Search,
    'choose' : Choose_us,
    'meister' : Hotel_meister,
    'areas' : Area,
    Category,
    Review,
    'footers' : Footer
  },
  mounted(){
    $('.same-height').matchHeight();
    $('.same-height .name').matchHeight();
    $('.same-height .small').matchHeight();
    $('.con-area').slice(0, 4).show();

    // $('.loadMore').click(function(e){
    //   e.preventDefault();
    //   $('.con-area:hidden').slice(0, 4).show();

    //   if($('.con-area:hidden').length == 0) {
    //     $(this).css('display', 'none');
    //   }
    // })
  },
  computed:{
    forReview: function() {
      return _.pickBy(this.review.data, function(x){
        return x.is_shown_in_home
      })
    }
  },
  async asyncData({ $axios, store }) {
    const lang = store.state.locale
    $axios.defaults.headers.common['X-App-Locale'] = lang
    const slider = await $axios.$get('/home/sliders')
    const property = await $axios.$get('home/special-benefits')
    const area = await $axios.$get('/home/areas')
    const category = await $axios.$get('/home/categories')
    const review = await $axios.$get('/home/reviews')

    return { slider, property, area, category, review }
  }
}
</script>
