<template>
  <section>
    <navbar />
    <banner title="Hotel Ayana - Jimbaran" />
    <detail-property />
    <!-- <search-page /> -->
    <review style="background-color: #f2f2f2" />
    <footers />
  </section>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Banner from '~/components/Banner.vue'
import Detail_property from '~/components/Detail-property.vue'
import Search_page from '~/components/Search-page.vue'
import Review from '~/components/Review.vue'
import Footer from '~/components/Footer.vue'

  export default{
    components: {
      Navbar,
      Banner,
      'detail-property' : Detail_property,
      'search-page' : Search_page,
      Review,
      'footers' : Footer
    },
    mounted() {
      $('.same-height').matchHeight();
    }
  }
</script>